#title{
    background-color: rgba(242,245,247,255);
}

#presentation{
    height: 900px;
    background-color: rgba(242,245,247,255);
    position: relative;
}

#carouselPresentation{
    position:absolute;
    width: 100% ;
    left: 8%;
    
}

#background{
    margin: 10%;
}



#footer{
    text-align: center;
    background-color: rgba(242,245,247,255);
    padding: 1%;
}

h2{

    text-transform: uppercase;
    font-size: 8px;
}

h4{
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}


/* Nav bar*/
.navbar {

    margin-left: 110px;
    font-size: 22px;
}
.nav-item{
    padding-top: 3rem;
    padding-right: 0.6cm;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

/* Nav-bar items hover*/
ul a:hover{
    color: #000000 !important;
  }
  nav li{
      text-align: center;
      text-transform: uppercase;
  }
  li > a:after{
      content: '';
      display: block;
      height: 1.5px;
      background: #000000;
      transform: scaleX(0);
      transition: transform .3s;
  }
  li > a:hover:after{
      transform: scaleX(1);
      transition: transform .3s;
  }
  .active{
      color: #000000 !important;
  }

/*Presentation part*/

    /*Corousel*/

    .carousel-item{
        height: 32rem;
        position: relative;
    }

    .carousel-inner{
        height: 900px;
    
    }

    /*.container-pre{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 10px;
        padding-left:120px ;
        
        
    }
    */
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        color: #000000;
    }

    .carousel1Left{
        position: relative;
        font-size: 65px;
        color:rgba(0, 0, 0, 0.782);
        font-family: 'Roboto', sans-serif;
        top: 350px;
        padding-right: 50%;
    }
    
    .carousel1Right{
        padding-left: 150px;
    }

    .carousel2Left{
        position: relative;
        font-family: 'Roboto', sans-serif;
        top: 350px;
        color:rgba(0, 0, 0, 0.782);
    }


/*Background*/

    .skills{
        padding-left: 120px;
    }


/*Education*/
.container-educ{
    margin: 10%;
    width: 150%;
    background-color: rgba(242,245,247,255);
}
/*Imagenes*/
.Vabefoto{
    
    width: 65%;
    border-radius: 10%;
    position: relative;
    margin-top: 80px;
}

/* Footer*/
