#title{
    background-color: rgba(242,245,247,255);
    padding-left:12%;
    
}

#presentation{
    
    background-color: rgba(242,245,247,255);
    
}

#carouselPresentation{
    background-color: rgba(242,245,247,255);
}

#background{
    padding: 10% 13%;
    position: relative;
}

#footer{
    text-align: center;
    background-color: #8974FB;
    color: #fff;
    padding: 4% 13%;
}

#education{
    background-color: rgba(242,245,247,255);
    padding:10% 13%;
    

}

#knowledge{
    background-color: #8974FB;
    color: whitesmoke;
    padding: 10% 13%;
}

#contact{
    padding:10% 13%;
    text-align: left;
}

h2{

    text-transform: uppercase;
    font-size: 8px;
    padding: 1em;
}

h3{
    color: #5e548e;
}

h4{
    text-transform: uppercase;
    
}

ul {
    list-style-type: none;
    padding-left: 0px;
}



/*Images*/
.Vabefoto{
    
    width: 80%;
    border-radius: 10%;
    position: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom:2rem;
}

.Tipofoto{
    width: 65%;
    border-radius: 10%;
    position: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom:2rem;
    
}

/*Buttons*/
.btn.btn-secondary{
    padding: 12px 16px;
    border-color: #8974FB;
    background-color:#8974FB;
    color: #fff
}

.btn.btn-round{
    border-radius: 5px;
}

/*Scroll_to_top*/
#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    color: whitesmoke; 
    background-color: #8974FB;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
    border-radius: 200px;
    }
    
/* #myBtn:hover {
    color: #555; 
    background-color: gainsboro;
}*/

/* Nav bar*/
.navbar {
    font-size: 22px;
}
.nav-item{
    padding-top: 3rem;
    padding-right: 0.6cm;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

/* Nav-bar items hover*/
ul a:hover{
color: #8974FB !important;
}
nav li{
    text-align: center;
    text-transform: uppercase;
}
li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: #8974FB;
    transform: scaleX(0);
    transition-duration: 0.2s; /* Animation */
}
li > a:hover:after{
    transform: scaleX(1);
    transition-duration: 0.2s; /* Animation */
}
.active{
    color:#8974FB !important;
}

/*Presentation part*/

/*Corousel*/

.carousel-inner{
   padding-left:13%;
   padding-right:13%;
   padding-bottom:10%;
   

}

.carousel1Left{
    position: relative;
    padding-top:20%;
    padding-right: 20%;
    font-size: 65px;
    color:rgba(0, 0, 0, 0.782);
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    
}
    
.carousel1Right{
    padding-left: 150px;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.carousel2Left{
   
    position: relative;
    padding-top: 30%;
    padding-left: 200px ;
    padding-right: 400px;
    font-family: 'Roboto', sans-serif;
    color:rgba(0, 0, 0, 0.782);
}
    
/*Background*/

.skills{
    
}

/*Education*/
.container-educ{
    background-color: rgba(242,245,247,255);
}

.universidades{
    padding-top: 20px;
    text-align:left;
}

/*University work*/
.universitywork{
    padding-top: 10%;
}

/* Footer*/

.social{
    font-size: 50px;
    font-family: 'Varela Round', sans-serif;
    padding-left:15px;
    
}

.brands{
    padding: 1%;
}

.foot-brand{
    text-align:left;
    

}


.fa-brands{
    padding-right: 20px;
    font-size: 60px;
    color: #fff;
    transform: scale(0.8);
    transition: transform 0.2s linear;
}

.fa-brands:hover{
    transition-duration: 0.2s;
    transform: rotate(25deg);   
    cursor: pointer;
    
}

.Valentina{
    padding-bottom:4%;
    letter-spacing: 2px;
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    text-align: right;
    
}



/*Contact me*/

.form-group.first{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
   
}
.form-group{
    overflow: hidden;
    margin-bottom:0;
    padding: 15px 15px;
    position:relative;
    
}
.me{
    margin-right: 0px;
    margin-left: 0px;
}

.lets{
    padding-left:10px;
}

/*Floating menu*/

#menu{
    display: none;
}
.container2 {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
#toggle2 {
    -webkit-appearance: none;

}

.button2 {
    position: fixed;
    z-index: 999;
    width: 43px;
    height: 43px;
    background: #8974FB;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -12px;
    position: fixed; 
    top: 20px; 
    right: 30px; 
    z-index: 99; 
    cursor: pointer; 
    padding: 15px;
    color: whitesmoke;
}

.fa-regular.fa-bars{
    color: whitesmoke;
}
.nav2 {
position: fixed;
opacity: 0;
transition: all 0.4s ease-in-out;
background: #fff;
width: 10%;
border-radius: 5px;
transform: translateY(0%);
box-shadow: 2px 3px 10px 0 rgba(81, 81, 81, 0.1);
border: 1px solid #e4e4e4;
padding: 10px;
top: 30px; 
right: 30px; 
z-index: 90;
}
  
.ul2 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.a2 {
    text-align: center;
    margin: 20px 0;
    color: #8974FB;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}
.a2:hover {
    color: #C784DD;
}
  
#toggle2:checked ~ .nav2 {
    opacity: 1;
    transform: translateY(10%);
}
  
#toggle2:checked ~ .button2:before {
    transform: rotate(225deg);
}
  
#toggle2:checked ~ .button2:after {
    transform: rotate(135deg);
}
  
@media (max-width: 640px) {


.container {
    width: 100%;
}
/*Footer*/
.foot-brand{
    text-align: center;
}

.brands{
    text-align: center;
}

.Valentina{
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
}

.social{
    padding-left: 0;
}
}
/*Carousel*/
.container-pre{
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 420px){
#menu{
    display: block;
}

.skills{
    padding-top: 30px;
}
}
